.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
**/.eslintrc.json
**/eslint.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
out/test/**
coverage/**
.nyc_output/**
**/*.test.js
vsc-extension-quickstart.md
